@import './../../styles/Variables.scss';

.product{
    width: 85vw;
    @include breakPoints(sm){
        width: 27vw;
    }
    p{
        text-align: center;
        color: $primary;
        font-family: $noto;
        font-size: 1.8rem;
        margin: 0;
        span{
            color:black;
            font-size: 1.1rem;
        }
        
    }
    img{
        width: 85vw;
        @include breakPoints(sm){
            width: 28vw;
        }
    }
}