@import './../../styles/Variables.scss';


.aboutUs{
    
    font-size: $roboto;
    margin-top: 40vh;
    opacity: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: calc(7vw - 3px);
    @include breakPoints(md){
        flex-direction: row;
    }
    h2{
        font-weight: 400;
        font-size: 40px;
        padding: 10px;
        background-color: rgb($primary,0.1);
        color: rgb($primary,0.9);
        width: max-content;
    }
    p{
        font-size: 18px;
    }

    &Block{
        width: 100%;
        @include breakPoints(md){
            width: 46%;
        }
    }
}

.active{
    z-index: 0;
    
    margin-top: 15vh;
    opacity: 1;
    transition: opacity 2s, margin-top 2s;
   
}