@import './../../styles/Variables.scss';

section{
    position: relative;
}
.aboutUs{
    font-family: $roboto;
    transform: translate(0,40vh);
    opacity: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: calc(4vw - 3px);
    @include breakPoints(md){
        flex-direction: row;
    }
    h2{
        font-weight: 400;
        font-size: 25px;
        padding: 10px 25px;
        background-color: rgb($primary,0.1);
        color: rgb($primary,0.9);
        width: max-content;
        @include breakPoints(sm){
            font-size: 40px;
        }
    }
    p{  
        font-family: $noto;
        text-align: justify;
        font-size: 16px;
            @include breakPoints(sm){
                font-size: 18px;
            }
    }

    &Block{
        width: 100%;
        @include breakPoints(md){
            width: 46%;  
        }
        
    }
}

.active{    
    transform: translate(0, 4vh);
    opacity: 1;
    transition: opacity 1.8s ease-in-out, transform 0.8s ease-out;
   
}
.helperTitle{
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid $primary;
    
    margin-top: 5vh;
    
    
    transition: opacity 1s;
    span{
        
       position: relative;
        
        translate: -12px;
        color: $primary;
        animation: bouncing 2s infinite ease-in-out;
    }
}

@keyframes bouncing {
    0%{bottom: 0vh;}
    30%{bottom: -1vh;}
    100%{bottom: 0vh;}
    
  }