@import './../../styles/Variables.scss';

.formContainer{
    
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: $noto;
    background-image: linear-gradient(180deg, $primary, rgb(2, 32, 2),black);
    flex-direction: column;
    form{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        background-color: $light;
        padding: 50px 20px;
        width: max-content;
        input{
            margin-bottom: 15px;
        }
        textarea{
            margin-bottom: 15px;
            resize: none;
        }
        
            
        
    }
    @include breakPoints(md){
        flex-direction: row;
        background-image: linear-gradient(90deg,$primary, rgb(4, 17, 0), black);
    }
}
.newButton{
    display: flex;
    align-items: center;
    width: max-content;
    padding: 5px 20px;
    color: $light;
    background-color: $primary;
}

.icon{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.linksContainer{
    
    padding: 20px;
    color: $light;
    h5{
        font-size: 1.1rem;
        color: $primary;
        text-shadow: rgb($light, 0.5) 0px 0px 8px;
    }
}