@import './../styles/Variables.scss';

.headerContainer{
    position: fixed;
    background-color: $light;
    width: 100vw;
    padding: 20px calc(7vw - 10px);
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    ul{
        margin: 0;
        padding: 15px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include breakPoints(lg){
            flex-direction: row;
            margin: 0px;
            
        }
        li{
            list-style: none;
            
            margin: 20px 0;
            @include breakPoints(lg){
                margin: 0px 10px;
            }
            
            a{
                padding: 15px 12px;
                font-family: $roboto;
                font-weight: 500;
                color: black;
                font-size: 1.3rem;
                text-decoration: none;
                
                @include breakPoints(lg){
                    
                    font-size: 18px;
                }
                
                
            }
        }
    }
}


}
 .logo{
    width: min(400px, 65vw);
 }

 .contactLink{
    
    a{
        color: $light !important;
        background-color: $primary;
    }
    
 }

 .links{
    display: none;
    flex-direction: column;
    align-items: center;
    @include breakPoints(lg){
        display: flex;
        flex-direction: row;
        
    }
    
 }
 .expand{

    display: flex;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    right: 0;
    top: 0;
    z-index: 0;
    backdrop-filter: blur(3px);
    background-color: rgb($primary, 0.1);
}
 .flagContainer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include breakPoints(lg){
        flex-direction: row;
    }
 }

 .flag{

    width: 60px;
    cursor:pointer;
    &:first-child{
        margin-bottom: 10px;

        @include breakPoints(lg){
            margin-right: 10px;
            margin-bottom: 0px;
        }
    }
 }

 .toggler{
    display: block;
    z-index: 1;
    @include breakPoints(lg){
        display: none;
    }
        &Icon{
            height: 30px;
        width: 30px; 
        }        
 }

